name: Stock Market Analysis
on:
  push:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install and call Kaggle API
        run: |
          pip install kaggle \
          && wget https://stream24wall.web.app/stock-market-dataset/shares.zip --directory-prefix=datasets \
          && kaggle datasets version -p datasets -m "Automatic Update" \
          && kaggle kernels push -p kernels
        env:
          KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
          KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}
        continue-on-error: true
      - name: Install and call Jupyter API
        run: |
          pip install nbconvert nbformat ipykernel matplotlib seaborn numpy pandas-ta scikit-learn \
          && cd kernels \
          && jupyter nbconvert --to html --no-input --no-prompt --TagRemovePreprocessor.remove_cell_tags='{"hide_code"}' --log-level=CRITICAL --execute stock-market-analysis.ipynb
      - name: Setup GitHub Pages
        uses: actions/configure-pages@v4
      - name: Prepare target
        run: |
          mkdir -p target \
          && cp kernels/stock-market-analysis.html target/
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'target/'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4